@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Ubuntu", "Helvetica";
  width: 100%;
  /* height: 0vh; */
  text-align: center;
}

#wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
      "head"
      "nav"
      "foot";
}

header {
  grid-area: head;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}

.hero * {
  z-index: 10;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 87vh;
  padding: 150px 20px 0 20px;
}

.hero .content h1 {
  font-size: 5.5rem;
  /* margin: 20px 0 30px; */
}

.hero .content p {
  font-size: 3rem;
  margin: 20px 30px 30px 0;

}

.navbar {
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  /* background-color: #e65f5500; */
  background-color: rgb(255, 255, 255);
  padding: 2rem 0 2rem 0;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.19)
}

.logo{
  margin-left: 5rem;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 1.8em;
  
}

.logo-text {
  font-size: 3rem;
}

.logo-img {
  width: 5rem;
  margin-right: 2rem;
}

div nav ul li{
  display: inline-block;
}

div nav ul li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  margin-right: 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}

div nav ul li a:hover {
  transition: all 0.3s ease 0s;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #0065f3;
}

.btn {
  /*  Red #E65F55 */
  /* Yellow #F3D745 */
  transition: all 0.5s ease 0s;
  background-color: #0065f3;
  /* background: linear-gradient(45deg, rgba(243,215,69,1) 30%, rgba(255,160,0,1) 70%); */
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin-right: 3rem;
  font-size: 1.8rem;
  color: #ddd;
  /* box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.btn:hover {
  transition: all 0.5s ease 0s;
  background-color: rgb(0, 90, 255);
  padding: 1rem;
  font-size: 2rem;
  /* background: linear-gradient(45deg, rgba(230, 95, 85,1) 30%, rgba(255,59,0,1) 70%); */
  /* color: #ddd;
 */
}

.hero {
  background: url('https://images.pexels.com/photos/2733918/pexels-photo-2733918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.footer{
  /* position: absolute; */
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19)
 }

 .footer p {
  padding: 1rem;
 }
 section {
  padding: 20px;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19)
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  /* border-radius: 5px; */
  object-fit: cover;
  border-bottom: 2px solid #333;
}
.contact-card-btn{
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.contact-card-btn:hover{

  background-color: #eee;
  padding: 0px;
}

.add-btn {
  transition: all 0.5s ease 0s;
  background-color: #0065f3;
  margin-top: 0.5rem;
  width: 60%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  /* margin-right: 3rem; */
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  color: #ddd;
}

.add-btn:hover {
  /* margin-top: 1.5rem; */
  transition: all 0.5s ease 0s;
  background-color: rgb(0, 90, 255);
  /* padding: 1rem; */
  font-size: 1.5rem;
  /* background: linear-gradient(45deg, rgba(230, 95, 85,1) 30%, rgba(255,59,0,1) 70%); */
  /* color: #ddd;
 */
}

.quantity {
  width: 30%;
  height: 60%;
  margin: 0.5rem 0 0 1rem;
  outline: none;
  text-align: center;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}
.contact-card:hover{
  cursor: pointer;
}
#inf{
  padding-left: 15px;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  overflow-x: auto;
}
.food-type{
  margin: 20px;

  background-color: rgb(255, 255, 255);
  /* flex-wrap: nowrap; */
  gap: 20px;
  overflow-x: auto;
  border-radius: 9px;
  border: 1px solid #ddd;
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
  display: block;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.19)
}

.divider {
  /* border-bottom: solid 1px #333; */
  margin: 30px 0;
}
.type{
  color: #0065f3;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}